<% if @product_or_customer == "1"%>
    <h1>検索結果（商品）</h1>
    <tbody>
      <% @products.each do |product| %>
        <tr>
          <div class='row'>
            <div class='col-xs-1'>
              <td>
                <a href="/products/<%= product.id %>"><%= attachment_image_tag product, :image, fallback: "no_image.jpg", size: "100x100" %>               
                </a>
              </td>
            </div>
            <div class='col-xs-2'>
              <td>商品名</td><br>
              <td><%= product.name %></td>
            </div>
            <div class='col-xs-1'>
              <td>商品価格</td><br>
              <td>¥<%= product.price %></td>
            </div> 
          </div>      
        </tr>
      <% end %>
    </tbody>    
    
 
<% elsif @product_or_customer == "2" %>
<h1>検索結果（顧客）</h1>
  <% @customers.each do |customer| %>
    <div class='row'>
      <div class='col-xs-2'>
        <div class ="a_s">
          <%= customer.last_name %><%= customer.first_name %>
        </div>
      </div>
      <div class='col-xs-1'>
        <span>
          <%= link_to ' 注文履歴', orders_path(customer_id: customer.id),class: "btn btn-primary" %><br>
        </span>
      </div>
    </div>
  <% end %>
    

   
<% end %>