<div class="container">
	<div class="row">
		<h3 class="text-center col-xs-4 a_c_headline">
			<%= @customer.last_name %>　<%= @customer.first_name %>さんの会員詳細
		</h3>
	</div>

	<div class="row">
		<table class="a_c_table">
			<tr>
				<td class="col-xs-2">顧客ID</td>
				<td class="col-xs-5"><%= @customer.id %></td>
				<td class="col-xs-2">
					<% if @customer.is_deleted == true %>
						<%= @customer.is_deleted = '有効' %>
					<% else %>
						<%= @customer.is_deleted = '無効' %>
					<% end %>
				</td>
			</tr>

			<tr>
				<td class="col-xs-2">氏名</td>
				<td><%= @customer.last_name %>　<%= @customer.first_name %></td>
				<td></td>
			</tr>

			<tr>
				<td class="col-xs-2">フリガナ</td>
				<td><%= @customer.last_name_kana %>　<%= @customer.first_name_kana %></td>
				<td></td>
			</tr>

			<tr>
				<td class="col-xs-2">郵便番号</td>
				<td><%= @customer.postcode %></td>
				<td></td>
			</tr>

			<tr>
				<td class="col-xs-2">住所</td>
				<td><%= @customer.address %></td>
				<td></td>
			</tr>

			<tr>
				<td class="col-xs-2">電話番号</td>
				<td><%= @customer.phone_number %></td>
				<td></td>
			</tr>

			<tr>
				<td class="col-xs-2">メールアドレス</td>
				<td><%= @customer.email %></td>
				<td></td>
			</tr>
		</table>

			<%= link_to '編集する', edit_admin_customer_path(@customer), class: 'btn btn-primary' %>
			<%= link_to '注文履歴一覧を見る', admin_orders_path(@customer), class: 'btn btn-primary' %>
	</div>
</div>