<div class="container">
   <div class="row">
    <div class="col-xs-12">
      <h2>注文履歴詳細</h2>
    </div>
          <table>
            <tr>
              <td>氏名</td><td><%= current_customer.last_name %><%= current_customer.first_name %></td>
            </tr>
            <tr>
              <td>カナ</td><td><%= current_customer.last_name_kana %><%= current_customer.first_name_kana %></td>
            </tr>
            <tr>
              <td>郵便番号</td><td><%= current_customer.postcode %></td><td>
            </tr>
            <tr>
              <td>住所</td><td><%= current_customer.address %></td>
            </tr>
            <tr>
              <td>電話番号</td><td><%= current_customer.phone_number %></td>
            </tr>
            <tr>
              <td>メールアドレス</td><td><%= current_customer.email %></td>
            </tr>
             <thead>
               <tr>
                 <th>商品名</th>
                 <th>単価</th>
                 <th>数量</th>
                 <th>小計</th>
                 <th>制作ステータス</th>
               </tr>
             </thead>

            <tbody>
              <% @products.each do |product| %>
               <tr>
                <td></td>
                <td></td>
              </tr>
              <% end %>


            </tbody>
           </table>
  </div>
</div>