<div class="container">
   <div class="row">
      <div class="col-xs-2 a_o_headline">
        <h3 class="text-center">注文履歴詳細</h3>
      </div>
    </div>

    <div class="row">
      <div>
        <table class="a_o_table">
          <tr>
            <th>購入者</th>
            <td>
              <%= link_to admin_customer_path(@order.customer) do %>
                <%= @order.customer.last_name %><%= @order.customer.first_name %>
              <% end %>
              </td>
          </tr>
          <tr>
            <th>配送先</th>
            <td><%= @order.postcode %> <%= @order.address %><br>
              <%= @order.name %></td>
          </tr>
          <tr>
            <th>支払方法</th>
            <td><%= @order.payment_method %>
          </tr>
          <tr>
            <th>注文ステータス</th>
            <td>
              <%= form_with model: @order, url: admin_order_path(@order), local: true do |f| %>
                <%= f.select :order_status, Order.order_statuses.keys %>
                <%= f.submit  '更新', class: 'btn btn-primary btn-sm' %>
              <% end %>
            </td>
          </tr>
        </table>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-7">
        <table class="table a_o_table_down">
          <thead>
            <tr class="active">
              <th class="col-xs-3">商品名</th>
              <th class="col-xs-1">単価</th>
              <th class="col-xs-1">数量</th>
              <th class="col-xs-2">小計</th>
              <th>制作ステータス</th>
            </tr>
           </thead>

           <tbody>
            <% @order.order_products.each do |order_product| %>
            <tr>
              <td><%= order_product.product.name %></td>
              <td><%= ((order_product.product.price * 1.1).round(2)).ceil %></td>
              <td><%= order_product.number %></td>
              <td><%= (((order_product.product.price * 1.1).round(2)).ceil) * order_product.number %> 円<br></td>
              <td>
                <%= render 'admin/order_products/order_products', order_product: order_product %>
               </td>
             </tr>
            <% end %>
           </tbody>
        </table>
      </div>

      <div class="col-xs-5">
         <table class="a_o_table_price">
          <tr>
            <th class="col-xs-2">商品合計</th>
            <td class="col-xs-2"><%= @total_amount %> 円</td>
          </tr>
          <tr>
            <th class="col-xs-2">送料</th>
            <td class="col-xs-2"><%= @order.postage %> 円</td>
          </tr>
          <tr>
            <th class="col-xs-2">請求金額合計</th>
            <td class="col-xs-2"><%= ((@total_amount * 1.1).round(2)).ceil + @order.postage %> 円</td>
          </tr>
         </table>
       </div>
    </div>
  </div>
</div>