<div class="container">
	<div class="row">
		<div class="col-xs-3 a_g_headline">
			<h3 class="text-center">ジャンル一覧・追加</h3>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-5 a_add_genres">
			<%= form_with model: @genre, url: admin_genres_path, local: true do |f| %>
				<label class="a_g_blank_r">ジャンル</label>

				<%= f.text_field :name, class: 'a_g_width' %>

				<!-- ラジオボタン -->
				<!-- <label><%#= f.radio_button :is_valid, true, checked: true %>有効</label> -->
				<!-- <label><%#= f.radio_button :is_valid, false %>無効</label> -->

				<%= f.radio_button :is_valid, true, checked: true %>
				<%= f.label :is_valid, '有効', value: true, class: 'a_g_blank_r' %>

				<%= f.radio_button :is_valid, false %>
				<%= f.label :is_valid, '無効', value: false, class: 'a_g_blank_r' %>
				<!-- ラジオボタン -->

				<%= f.submit '追加', class: 'btn btn-info' %>
			<% end %>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-4">
			<!-- ジャンル一覧 -->
			<div class="genres_all">
				<table class="table">
					<thead>
						<tr class="active">
							<th class="col-xs-4">ジャンル</th>
							<th class="col-xs-4">状態</th>
							<th></th>
						</tr>
					</thead>

					<tbody>
						<% @genres.each do |genre| %>
							<%# if genre.is_valid == true %>
								<tr>
									<td><%= genre.name %></td>
									<td>
										<% if genre.is_valid == true %>
											<%= genre.is_valid = '有効' %>
										<% else %>
											<%= genre.is_valid = '無効' %>
										<% end %>
										</td>

									<td><%= link_to '編集する', edit_admin_genre_path(genre.id), class: 'btn btn-primary' %></td>
								</tr>
							<%# end %>
						<% end %>
					</tbody>
				</table>
			</div>
			<!-- ジャンル一覧 -->
		</div>
	</div>
</div>