<body class="c_e">
  <span class="c_g">登録情報編集</span><br><br>
  

  <%= form_for(@customer) do |f| %>
    

    <div class="field">
      <%= f.label :名前 %>
      （性）<%= f.text_field :last_name, autofocus: true, class: "name" %>
      （名）<%= f.text_field :first_name, autofocus: true, class: "name" %>
    </div>

    <div class="field">
      <%= f.label :フリガナ %>
      （セイ）<%= f.text_field :last_name_kana, autofocus: true, class: "name" %>
      （メイ）<%= f.text_field :first_name_kana, autofocus: true, class: "name" %>
    </div>

    <div class="field">
      <%= f.label :メールアドレス %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field">
      <%= f.label :郵便番号（ハイフンなし） %>
      <%= f.text_field :postcode, autofocus: true, placeholder: 'postal_code', class: "postal_code", id: "address_zipcode"  %>
    </div>

    <div class="field">
      <%= f.label :住所 %>
      <%= f.text_field :address, autofocus: true, class: "hoge", size: 60%>
    </div>

    <div class="field">
      <%= f.label :電話番号（ハイフンなし） %>
      <%= f.text_field :phone_number, autofocus: true, class: "phone_number"  %>
    </div>


    <div class="actions">
      <%= f.submit "編集内容を保存する",class: "btn btn-primary" %>
      <%= link_to ' 退会する', withdrawal_path(current_customer.id),class: "btn btn-danger" %>
    </div>
  <% end %>
</body>