<body>
<span>パスワード変更</span>

<%= form_with(model: current_customer, url: change_path, method: :put, local: true) do |f| %>
 
    <div class='row'>
      <div class='col-xs-2'>
        <span>"変更後のパスワード"</span>
      </div>
      <div class='col-xs-2'>
      <%= f.password_field :password, autocomplete: "new-password",class: "h_log_f" %>
      </div>
    </div>
 
    <div class='row'>
      <div class='col-xs-2'>
        <span>"変更後のパスワード(確認)</span>
      </div>
      <div class='col-xs-2'>
        <%= f.password_field :password_confirmation, autocomplete: "new-password",class: "h_log_f" %>
      </div>
    </div>
 
    <div class='row'>
      <div class='col-xs-2'>
        <span>現在のパスワード</span>
      </div>
      <div class='col-xs-2'>
        <%= f.password_field :current_password, autocomplete: "current-password",class: "h_log_f" %>
      </div>
      <div class="small form-text">変更のために現在のパスワードを入力してください。</div>
    </div>
    
    <div class="actions">
      <%= f.submit "変更する", class: "btn btn-primary" %>
      <%= link_to "キャンセル", class: "btn btn-primary" %>
    </div>
 　<% end %>
</body>