<body>
  <div class ="c_p">
    <span class="c_p_tg">パスワード変更</span>
    <div class="small form-text"><strong>変更のために現在のパスワードを入力してください。</strong></div>
    <br><br>
    <div class="c_p_b">
      <%= form_with(model: current_customer, url: change_path, method: :put, local: true) do |f| %>
        <div class='row'>
          <div class='col-xs-3'>
            <span class="c_p_l">変更後のパスワード</span>
          </div>
          <div class='col-xs-3'>
            <%= f.password_field :password, autocomplete: "new-password", size:40,class: "c_p_f" %>
          </div>
        </div>
      <br>
        <div class='row'>
          <div class='col-xs-3'>
            <span class="c_p_l">変更後のパスワード(確認用)</span>
          </div>
          <div class='col-xs-3'>
            <%= f.password_field :password_confirmation, autocomplete: "new-password", size:40, class: "c_p_f" %>
          </div>
        </div>
      <br>
        <div class='row'>
          <div class='col-xs-3'>
            <span class= "c_p_l">現在のパスワード</span>
          </div>
          <div class='col-xs-3'>
            <%= f.password_field :current_password, autocomplete: "current-password",size:40, class: "c_p_f" %>
          </div>     
        </div>
      <br><br>
        <div class='row'>
          <div class='col-xs-1'></div>
          <div class='col-xs-3'>
            <%= link_to'キャンセル', customer_path(current_customer.id) ,class: "btn btn-primary" %>
          </div>
          <div class='col-xs-2'>
            <%= f.submit "変更する",class: "btn btn-danger" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</body>