<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h2>注文情報入力</h2>

			<h2>支払方法</h2>
			<h5>クレジットカード</h5>
			<h5>銀行振込</h5>

			<h2>お届け先</h2>
			<h5>ご自身の住所</h5>
				<p>
					<%= current_customer.postcode %>
					<%= current_customer.address %>
				</p>
				<p>
					<%= current_customer.last_name %>
					<%= current_customer.first_name %>
				</p>

			<h5>登録済住所から選択</h5>
			<% @shipping_address.each do |shipping| %>
				<p>
					<%= shipping.postcode %>
					<%= shipping.address %>
					<%= shipping.name %>
				</p>
			<% end %>

			<h5>新しいお届け先</h5>

		</div>
	</div>
</div>