<div class="container">

	<div class="row">
	<%= render 'products/genre_search', genres: @genres %>

	<div class='col-xs-9'>
	<p>ようこそ、NaganoCakeへ！</p>
	<p>このサイトは、ケーキ販売のECサイトになります。</p>
	<p>会員でない方も商品の閲覧はできますが、</p>
	<p>購入には会員登録が必要になります。</p>
	</div>
	</div>

    <div class="row">
	  	<div class='col-xs-3'></div>
	  	<div class='col-xs-9'>
		    <h2>オススメ商品</h2>
		    <% @recommend_products.each do |rp| %>
		    	<div class="col-xs-3 pull-left">
					<p><a href="/products/<%= rp.id %>"><%= attachment_image_tag rp, :image, fallback: "no_image.jpg", size: "150x100" %></a></p>
					<div class="product_n">
						<p><%= link_to rp.name, product_path(rp) %></p>
					</div>
					<div class="product_p">
						<p>¥<%= rp.price %></p>
					</div>
				</div>
			<% end %>
		    
	    </div>
    </div>
    <p><%= link_to 'もっと見る', products_path, class: "pull-right" %></p>
</div>