<h3>配送先登録/一覧</h3>

<%= form_for(@shipping_address_new) do |f| %>

   <div class="field">
    <%= f.label :郵便番号（ハイフンなし） %>
    <%= f.text_field :postcode, autofocus: true, class: "postal_code", id: "address_zipcode"  %>
   </div>

   <div class="field">
    <%= f.label :住所 %>
    <%= f.text_field :address, autofocus: true, class: "hoge", size: 60%>
  </div>

  <div class="field">
    <%= f.label :宛名 %>
    <%= f.text_field :name, autofocus: true, class: "name" %>
  </div>

  <div class="actions">
    <%= f.submit "登録する" %>
  </div>
<% end %>

<table>
  <thead>
    <tr>
      <th>郵便番号</th>
      <th>住所</th>
      <th>宛名</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
	<% @shipping_addresses.each do |shipping_address| %>
      <tr>
		  <td><%= shipping_address.postcode %></td>
		  <td><%= shipping_address.address %></td>
		  <td><%= shipping_address.name %></td>
      <td>
        <%= link_to ' 編集する', edit_shipping_address_path(shipping_address.id) %>
        <%= link_to "削除する", shipping_address_path(shipping_address), method: :delete %>
      </td>

      </tr>
    <% end %>
  </tbody>
</table>

