<div class="container">
	<div class="row">
		<div class="col-xs-10">

			<h8>ショッピングカート</h8>

			<p><%= link_to "カートを空にする", destroy_all_cart_items_path, method: :delete %></p>

			<table class="table">
				<thead>
					<tr>
						<th>商品名</th>
						<th>単価(税込)</th>
						<th>数量</th>
						<th>小計</th>
						<th></th>
					</tr>
				</thead>

				<% @cart_items.each do |cart_item| %>
					<% if cart_item.customer_id == current_customer.id %>
						<% @total_amount += cart_item.product.price * cart_item.number %>
						<tbody>
							<tr>
								<td>
									<%= attachment_image_tag cart_item.product, :image, fallback: "no_image.jpg", size: "40x40" %>
									<%= cart_item.product.name %>
								</td>
								<td><%= cart_item.product.price %></td>
								<td>
									<%= form_for(cart_item) do |f| %>
										<%= f.number_field :number %>
										<%= f.submit "変更" %>
									<% end %>
								</td>
								<td><%= cart_item.product.price * cart_item.number %></td>
								<td><%= link_to "削除する", cart_item_path(cart_item), method: :delete %></td>
							</tr>
						</tbody>
					<% end %>
				<% end %>
			</table>

			<p><%= link_to "買い物を続ける", root_path %></p>

			<h10>合計金額</h10>
			<h10><%= @total_amount %></h10>

			<p><%= link_to "情報入力に進む", new_order_path %></p>

		</div>
	</div>
</div>