<div class="container">
	<div class="row">
		<div class="col-xs-10">

			<h8>ショッピングカート</h8>

			<!-- リンク先をdestroy_allアクションに変更 -->
			<p><%= link_to "カートを空にする", cart_items_path %></p>

			<table class="table">
				<thead>
					<tr>
						<th>商品名</th>
						<th>単価(税込)</th>
						<th>数量</th>
						<th>小計</th>
						<th></th>
					</tr>
				</thead>

				<% @cart_items.each do |cart_item| %>
					<% @total_amount += cart_item.product.price * cart_item.number %>
					<tbody>
						<tr>
							<td><%= cart_item.product.name %></td>
							<td><%= cart_item.product.price %></td>
							<!-- リンク先をupdateアクションに変更 -->
							<td><%= cart_item.number %><%= link_to "変更", cart_items_path %></td>
							<td><%= cart_item.product.price * cart_item.number %></td>
							<!-- リンク先をdestroyアクションに変更 -->
							<td><%= link_to "削除する", cart_items_path %></td>
						</tr>
					</tbody>
				<% end %>
			</table>

			<!-- リンク先をトップページに変更 -->
			<p><%= link_to "買い物を続ける", cart_items_path %></p>

			<h10>合計金額</h10>
			<h10><%= @total_amount %></h10>

			<!-- リンク先を購入情報入力に変更 *link_toを変えるかも -->
			<p><%= link_to "情報入力に進む", cart_items_path %></p>

		</div>
	</div>
</div>