<div class="container">
	<div class="row">
		<h3 class="text-center col-xs-2 a_p_headline">商品新規登録</h3>
	</div>

	<%= form_with model: @product, url: admin_products_path, local: true do |f| %>
		<div class="row">
			<div class="col-xs-3">
				<div class="add_products">
					<%= attachment_image_tag(@product.id, :image, :fill, 250, 170, fallback: 'no_image.jpg', size: '250x170') %>
					<%= f.attachment_field :image, class: 'a_p_img_btn' %>
				</div>
			</div>

			<table class="a_p_btn_position a_p_table">
				<tr>
					<td class="col-xs-2">商品名</td>
					<td><%= f.text_field :name, class: 'a_p_form_with' %></td>
				</tr>

				<tr>
					<td class="col-xs-2">商品説明</td>
					<td><%= f.text_area :explanation, class: 'a_p_row-5 a_p_form_with' %></td>
				</tr>

				<tr>
					<td class="col-xs-2">ジャンル</td>
					<td>
						<%= f.collection_select :genre_id, Genre.where(is_valid: true), :id, :name, include_blank: '-- 選択して下さい --' %>
					</td>
				</tr>

				<tr>
					<td class="col-xs-2">税抜価格</td>
					<td><%= f.text_field :price, class: 'a_p_form_with' %>円</td>
				</tr>

				<tr>
					<td class="col-xs-2">販売<br>ステータス</td>
					<td>
						<%= f.select :is_sale, [['販売中',true], ['売切れ', false]], include_blank: '-- 選択して下さい --'%>
					</td>
				</tr>
			</table>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<%= f.submit '新規登録', class: 'btn btn-info btn-bottom' %>
			</div>
		</div>
	<% end %>
</div>