<div class="container">
	<div class="row">
			<h3 class="text-center col-xs-2 a_p_headline">商品詳細</h3>
	</div>

	<div class="row">
		<div class="col-xs-4 text-center">
			<div class="detail_product">
				<%= attachment_image_tag(@product, :image, fallback: 'no_image.jpg', size: '250x170') %>
			</div>
		</div>

		<table class="col-xs-5 a_p_btn_position a_p_table">
			<tr>
				<td class="col-xs-2">商品名</td>
				<td class="col-xs-3 a_p_show_font"><%= @product.name %></td>
			</tr>

			<tr>
				<td class="col-xs-2">商品説明</td>
				<td class="col-xs-3 a_p_show_font"><%= @product.explanation %></td>
			</tr>

			<tr>
				<td class="col-xs-2">ジャンル</td>
				<td class="col-xs-3 a_p_show_font"><%= @product.genre.name %></td>
			</tr>

			<tr>
				<td class="col-xs-2">税込価格(税抜価格)</td>
				<td class="col-xs-3 a_p_show_font"><%= ((@product.price * 1.1).round(2)).ceil %>(<%= @product.price %>)円</td>
			</tr>

			<tr>
				<td class="col-xs-2">販売<br>ステータス</td>
				<td class="col-xs-3 a_p_show_font">
					<% if @product.is_sale == true %>
						<%= @product.is_sale = '販売中' %>
					<% else %>
						<%= @product.is_sale = '売切れ' %>
					<% end %>
				</td>
			</tr>
		</table>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<%= link_to '編集する', edit_admin_product_path(@product), class: 'btn btn-primary btn-bottom btn-lg' %>
		</div>
	</div>
</div>