<body>
  <div class="h_log">
    <span class="h_gl">会員の方はこちらからログイン</span>
    <%= flash[:error] %>
  <br><!--改行による隙間明け-->
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class='row'>
        <div class='col-xs-1'></div>
        <div class='col-xs-2'>
          <span>メールアドレス</span>
        </div>
        <div class='col-xs-2'>
          <%= f.email_field  :email, autofocus: true, autocomplete: "email", size:60, class: "h_log_f" %>
        </div>
      </div>

      <div class='row'>
        <div class='col-xs-1'></div>
        <div class='col-xs-2'>
        <span>パスワード </span>
        </div>
        <div class='col-xs-2'>
          <%= f.password_field :password, autocomplete: "current-password", size:60, class: "h_log_f" %>
        </div>
      </div>

      <!--<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
      <span class="h_log_p"><%= link_to "=>パスワードを忘れた方はこちら", new_password_path(resource_name) %></span>--
    <% end %>-->

    <div class="h_log_b"> 
    <br>  
      <%= f.submit "ログイン", class: "btn btn-primary" %>
    </div>
    <% end %>

  <br><!--改行による隙間明け-->

    <span class="h_gl">登録がお済みでない方</span><br>

  <br><!--改行による隙間明け-->

    <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
    <span class="h_log_g"> <%= link_to "こちら", new_registration_path(resource_name) %>から新規登録を行ってください。</span>
    <% end %>
  </div>
</body>
