<div class="container">
	<div class="row">
		<!-- ジャンル検索 -->
		<div class="col-xs-3" style= "padding-right: 50px;">
			<div class="panel panel-default">
				<div class="panel-heading genre_head">
					<p>ジャンル検索</p>
				</div>

				<!-- ジャンル一覧 -->
				<div class="panel-body">
					<% @genres.each do |genre| %>
						<p><%= link_to genre.name, :controller => 'products', :action => 'index', id: genre.id %></p>
					<% end %>
				</div>
			</div>
		</div>

		<!-- 商品一覧 -->
		<div class="col-xs-9">
			<div class="row">
				<% if @search_genre.present? %>
					<h1><%= @search_genre.name %>一覧<small>(全x件)</small></h1>
					<!-- 商品 -->
					<% @products.each do |product| %>
						<% if product.genre.is_valid %>
							<% if product.genre_id == @search_genre.id %>
								<div class="col-xs-3  pull-left">
									<p><a href="/products/<%= product.id %>"><%= attachment_image_tag product, :image, fallback: "no_image.jpg", size: "150x100" %></a></p>
									<div class="product_n">
										<p><%= link_to product.name, product_path(product) %></p>
									</div>
									<div class="product_p">
										<p>¥<%= product.price %></p>
									</div>
								</div>
							<% end %>
						<% end %>
					<% end %>

				<% else %>
					<div class="row">
						<h1>商品一覧<small>(全x件)</small></h1>
						<!-- 商品 -->
						<% @products.each do |product| %>
							<% if product.genre.is_valid %>
								<div class="col-xs-3 pull-left">
									<p><a href="/products/<%= product.id %>"><%= attachment_image_tag product, :image, fallback: "no_image.jpg", size: "150x100" %></a></p>
									<div class="product_n">
										<p><%= link_to product.name, product_path(product) %></p>
									</div>
									<div class="product_p">
										<p>¥<%= product.price %></p>
									</div>
								</div>
							<% end %>
						<% end %>
					</div>

				<% end %>
			</div>
		</div>

	</div>
</div>