<div class="container">
	<div class="row">
		<div class="col-xs-3">
			<h1>ジャンル検索</h1>

			<% @genres.each do |genre| %>
				<% if genre.is_valid %>
					<p><%= link_to genre.name, :controller => 'products', :action => 'index', id: genre.id %></p>
				<% end %>
			<% end %>
		</div>

		<div class="col-xs-9">
			<p><%= attachment_image_tag @product, :image, fallback: "no_image.jpg", size: "100x100" %></p>
			<p><%= @product.name %></p>
			<p><%= @product.explanation %></p>
			<p>¥ <%= @product.price %> (税込)</p>

			<% if @get_cart_item.blank? %>
				<%= form_for(@cart_item) do |f| %>
					<%= f.hidden_field :product_id, value: @product.id %>
					<%= f.select :number, @pull_num %>
					<%= f.submit "カートに入れる" %>
				<% end %>
			<% else %>
				<%= form_for(@cart_item, url: update_number_cart_items_path, html: {method: 'PATCH'}) do |f| %>
					<%= f.hidden_field :id, value: @get_cart_item.id %>
					<%= f.select :number, @pull_num %>
					<%= f.submit "カートに入れる" %>
				<% end %>
			<% end %>

		</div>
	</div>
</div>